@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #171717;
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: whitesmoke;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weather-form {
  margin: 20px;
}

.city-input {
  padding: 10px;
  font-size: 1.75rem;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  width: 300px;
  background-color: #5c5c5c;
  color: white;
  transition: border-color 0.3s ease;
}

.city-input:focus {
  border-color: #5a5a5a;
  outline: none;
}

button[type="submit"] {
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1.75rem;
  background-color: rgb(20, 149, 20);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.15s;
}

button[type="submit"]:hover {
  background-color: rgb(2, 108, 2);
}

.card {
  background: linear-gradient(180deg, #1e3a8a 0%, #111827 100%);
  border-radius: 15px;
  padding: 50px;
  box-shadow: 2px 2px 5px black;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 0;
  margin-bottom: 25px;
}

p {
  font-size: 1.5rem;
  margin: 10px 0;
}

.city-display,
.temp-display {
  font-size: 3.5rem;
  font-weight: bold;
  color: whitesmoke;
  margin-bottom: 25px;
}

.humidity-display {
  font-weight: bold;
  margin-bottom: 25px;
}

.desc-display {
  font-style: italic;
  font-weight: bold;
  font-size: 1.69rem;
  font-style: italic;
}

.weather-emoji {
  font-size: 7rem;
}

.error-display {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgba(255, 0, 0, 0.36);
}

.toggle-convert {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.toggle-convert:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.toggle-convert:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.toggle-convert:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

@media (max-width: 712px) {
  button[type="submit"] {
    font-size: 0;
  }
  button[type="submit"]::after {
    content: "✔";
    font-size: 20px;
    display: inline-block;
  }

  .city-input {
    width: 200px;
    font-size: 1.2rem;
  }
}
